# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\file\许士勋-毕设代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
